html {
  font-size: 16px;
}
body {
  font-size: 1rem;
}

.settingsTable {
  border: 1px solid #ddd;
  border-collapse: collapse;
  margin-bottom: 1rem;
  width: 100%;
}
.settingsTable caption {
  font-weight: bold;
  padding: 0.4em 1em;
}
.settingsTable th,
.settingsTable td {
  border: 1px solid #ddd;
  padding: 0.4em 1em;;
}
.settingsTable th {
  font-weight: normal;
  text-align: initial;
  width: 30%;
}
.settingsTable textarea {
  width: 100%;
}

#runningRow .on,
#runningRow .off {
  display: none;
}
#runningRow[data-running="true"] .on,
#runningRow[data-running="false"] .off {
  display: inline;
}

#matches {
  height: 8em;
}
