.bigSwitch {
  height: 200px;
  width: 200px;
}
.bigSwitch-on,
.bigSwitch-off {
  display: none;
}
.bigSwitch-icon {
  font-size: 100px;
  display: block;
}
.bigSwitch[data-bigSwitch-toggle="on"] .bigSwitch-on,
.bigSwitch:not([data-bigSwitch-toggle="on"]) .bigSwitch-off {
  display: block;
}
